{% extends "testownik/base.html" %}

{% block content %}
Podejście do testu {{ sheet.test_id.name }}<br />
Test aktywny od {{ sheet.test_id.start_time }} do {{ sheet.test_id.end_time }}<br />
Czas trwania testu: {{ sheet.test_id.time }} minut<br />
<br />

Dane studenta {{ sheet.student_id.first_name }} {{ sheet.student_id.last_name }} # Nr indeksu: {{ sheet.student_id.index_number }}<br />

Jeżeli wszystkie dane się zgadzają i chcesz przystąpić do testu kliknij OK. W przeciwnym razie kliknij Powrót.<br />

<a href="{% url 'sheet' sheet.id  %}">OK</a>
<br />
<a href="{% url 'index' %}">Powrót</a>

{% endblock content %}
