
{% extends "testownik/base.html" %}
{% block content %}

<div class="row">
	<div class="col-md-4">
		<form action="{% url 'index' %}" method="post">
		    {% csrf_token %}
		    {{ form }}
		    <input type="submit" value="Przystap do testu"/>
		</form>
	</div>
	<div class="col-md-2">
		<button onclick="location.href={% url 'login' %}">Zaloguj jako prowadzący</button>
		<button onclick="location.href=/admin/">Zaloguj jako administrator</button>
	</div>
</div>
{% endblock content %}