{% extends "testownik/base.html" %}
{% block content %}
<div id="pdf">
    <object width="80%" height="800" type="application/pdf" data="/pdf/{{ nr_index }}/{{ id }}" id="pdf_content">
    <p>Insert your error message here, if the PDF cannot be displayed.</p>
    </object>
</div>
<div>
<form action="{% url 'sheet' nr_index %}" method="post">
    {% csrf_token %}
{{ formset.as_table }} 
{{ formset.management_form }}
    <input type="submit" value="Zapisz"/>
</form>
</div>
{% endblock content %}