{% extends "testownik/base.html" %}
{% block css %}

#answerscontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#answerscontainer ul li {
    display: inline;
    list-style-type:none;
}
{% endblock css %}

{% block content %}
<div>
    {{ student.first_name }} {{ student.last_name }}, {{ student.index_number }}
</div>
{% if msg_points %}
Zdobyles {{ msg_points }} punktow za ten test.
{% else %}
<div class="row">
  <div class="col-md-8" id='pdf'>
    <object width="100%" height="800" type="application/pdf" data="/pdf/{{ student.index_number }}/{{ id }}" id="pdf_content">
    <p>Nie można wyświetlić arkusza PDF, sprawdź ustawienia przeglądarki.</p>
    </object>
    </div>
  <div class="col-md-3"><form action="{% url 'sheet' student.index_number %}" method="post">
{% csrf_token %}
<div id="answerscontainer">
{{ formset.as_table }} 
</div>
{{ formset.management_form }}
    <input type="submit" value="Zapisz"/>
    </form>
</div>
{% endif %}
{% endblock content %}