{% extends "testownik/base.html" %}

{% block js %}
$(document).ready(function(){
    $('tr[id^="edit_tr"]').hide()
     $("button").click(function(event) {
        var id = "#edit_tr"+event.target.id
        $(id).toggle()
    });
});
{% endblock js %}

{% block content %}
{% if msg.error %}
	<div class="alert alert-danger" role="alert">{{ msg.error }}</div>
{% elif msg.correct %}
	<div class="alert alert-success" role="alert">{{ msg.correct }}</div>
{% endif %}
<table class="table table-striped table-bordered table-hover">
<tr>
    <td>Nazwa</td>
    <td>Aktywny</td>
    <td>Czas startu</td>
    <td>Czas końca</td>
    <td>Czas testu</td>
    <td>Sala</td>
    <td>Arkusze</td>
    <td>Edytuj</td>
    <td>Usun</td>
</tr>
{% for test in object_list %}
<tr>
    <td>{{ test.name }}</td>
    <td>{% if test.is_active %} Tak {% else %} Nie {% endif %}</td>
    <td>{{ test.start_time }}</td>
    <td>{{ test.end_time }}</td>
    <td>{{ test.time }}</td>
    <td>{% if test.room %} {{ test.room.name }} {% else %} {% endif %}</td>
    <td><a class="btn btn-sm btn-primary" href="{% url 'sheets' test.id %}">Pokaz</button></td>
    <td><button class="btn btn-sm btn-success" id="{{ test.id }}">Edytuj</button></td>
    <td><a class="btn btn-sm btn-danger" href="{% url 'delete' test.id %}">Usun</button></td>
</tr>
<tr id="edit_tr{{ test.id }}"><td>
    <form id="{{ test.id }}" action="{% url 'tests' %}" method="post" enctype="multipart/form-data">
    	{% csrf_token %}
    	{{ form.as_p }} 
    	<button type="submit" class="btn btn-lg btn-block btn-success" name="test_id" value="{{ test.id }}">Zmień</button>
    </form>
    </td>
</tr>
{% endfor %}
</table>
{% endblock content %}

{% block jsend %}
<script>
    var currentDate = new Date()
    var day = currentDate.getDate()
    var month = currentDate.getMonth() + 1
    var year = currentDate.getFullYear()
    var fullDate = year + "/" + month + "/" + day

$('[id^="start"]').datetimepicker({
dayOfWeekStart : 1,
lang:'pl',
startDate:	fullDate
});
$('[id^="end"]').datetimepicker({
dayOfWeekStart : 1,
lang:'pl',
startDate:	fullDate
});

</script>
{% endblock jsend %}