{% extends "testownik/base.html" %}
<style type="text/css">

.custom-date-style {
	background-color: red !important;
}

</style>
{% block content %}
{% if msg.error %}
    <div class="alert alert-danger" role="alert">{{ msg.error }}</div>
{% elif msg.correct %}
    <div class="alert alert-success" role="alert">{{ msg.correct }}</div>
{% endif %}
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-primary">
            <div class="panel-heading"> <h4> Dodawanie testu </h2></div>
            <img id='loader' src="/static/images/loader.gif" style="display: none;"></img>
            <div id='form' style="padding-top:15px" class="panel-body" >
                <form class="form-horizontal-center" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                	{{ form.as_p }}
                    <button id='add' class="btn btn-lg btn-success btn-block" type="submit">Dodaj</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block jsend %}
<script>
    var currentDate = new Date()
    var day = currentDate.getDate()
    var month = currentDate.getMonth() + 1
    var year = currentDate.getFullYear()
    var fullDate = year + "/" + month + "/" + day

$('#start').datetimepicker({
dayOfWeekStart : 1,
lang:'pl',
startDate:	fullDate
});
$('#end').datetimepicker({
dayOfWeekStart : 1,
lang:'pl',
startDate:	fullDate
});

  $('#add').on('click', function () {
    $('#loader').show()
    $('#form').hide()
  })
</script>

{% endblock jsend %}